body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.diffculte {
    background-color: #a5aa29;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.diffculte p {
    font-size: 18px;
    margin-bottom: 10px;
}

.diffculte label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Color change for 'facile' (green) */
input[type="radio"]#easy:checked + label {
    color: green;
    font-weight: bold;
}

/* Color change for 'medium' (orange) */
input[type="radio"]#medium:checked + label {
    color: orange;
    font-weight: bold;
}

/* Color change for 'hard' (red) */
input[type="radio"]#hard:checked + label {
    color: red;
    font-weight: bold;
}

.input-container {
    margin-bottom: 20px;
    text-align: center;
}

.input-container label {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 200px;
}

button {
    background-color: #3e0da7;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1eefeb;
}

